# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=leaderBoard
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# CORS
CORS_ORIGIN_ALLOW_ALL=True

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_TIMEZONE=Europe/Moscow

# ВНЕШНИЕ API
TPU_API_BASE_URL=https://api.tpu.ru/v1
TPU_CLIENT_ID=
TPU_CLIENT_SECRET=
TPU_API_MOCK_MODE=True

VITRINA_API_BASE_URL=https://vitrina.tpu.ru/api/v1
VITRINA_CLIENT_ID=
VITRINA_CLIENT_SECRET=
VITRINA_API_MOCK_MODE=True